#### K-Means k-평균 - 비지도 학습 -  군집(Cluster)
```
초기 중심점 설정 (Centroid)
데이터 할당(Assignment)
중심점 업데이트(Update)
```

In [2]:
# 카드사 고객 분석
import pandas as pd
df = pd.read_csv('CC-GENERAL.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [5]:
credit_df = df.copy()
credit_df = credit_df.drop(columns=['CUST_ID'])
credit_df = credit_df.dropna(subset=['CREDIT_LIMIT'])
credit_df.MINIMUM_PAYMENTS.fillna( credit_df.MINIMUM_PAYMENTS.mean() )

0        139.509787
1       1072.340217
2        627.284787
3        864.304943
4        244.791237
           ...
8945      48.886365
8946     864.304943
8947      82.418369
8948      55.755628
8949      88.288956
Name: MINIMUM_PAYMENTS, Length: 8949, dtype: float64